@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Microsoft regular';
  src: url('./assets//fonts/WindowsRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  ::selection {
    font-family: theme('fontFamily.sans');
    color: theme('colors.font.900');
  }
}
