@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Microsoft regular';
  src: url('./assets//fonts/WindowsRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


.gradient {
  background: rgb(191, 179, 153);
  background: linear-gradient(22deg, rgba(191, 179, 153, 1) 0%, rgba(255, 247, 229, 1) 100%);
  width: 100vw;
  height: 100vh;
}

body {
  cursor: url('./assets/cursor/87038.png');
}
